{{ form_start(form) }}
    <div class="row">
        <div class="col-6">
        {{ form_row(form.client) }}
        </div>
        <div class="col-6">
        {{ form_row(title) }}
        </div>
    </div>
    
    <button class="btn col-12">{{ button_label|default('Enregistrer la facture') }}</button>
{{ form_end(form) }}
