<li><a href="{{ path('app_home') }}"><i class="fa-solid fa-house"></i> Accueil</a></li>
<li><a href="{{ path('app_home', {'_fragment': 'temoignages'}) }}"><i class="fa-solid fa-comment"></i> Temoignages</a></li>
<li><a href="{{ path('app_home', {'_fragment': 'pricing'}) }}"><i class="fa-solid fa-circle-info"></i> Solutions</a></li>
<li><a href="{{ path('app_blog_index') }}"><i class="fa-solid fa-blog"></i> Articles</a></li>
<li><a href="{{ path('app_home', {'_fragment': 'contact'}) }}"><i class="fa-solid fa-message"></i> Contact</a></li>