<li><a href="{{ path('app_home') }}" class="">Accueil</a></li>
<li><a href="{{ path('app_home', {'_fragment': 'hero'}) }}" class="">Services</a></li>
<li><a href="{{ path('app_home', {'_fragment': 'pricing'}) }}" class="">Solutions</a></li>
<li><a href="" class="">Articles</a></li>
<li><a href="{{ path('app_home', {'_fragment': 'contact'}) }}" class="">Contact</a></li>

{% if is_granted("ROLE_USER") %}
    <li class="dropdown"><a href="#"><img src="/images/no-avatar.png" class="avatar avatar-mini"> <i class="bi bi-chevron-down"></i></a>
        <ul>
            {% if is_granted("ROLE_ADMIN") %}
            <li><a href="#">Dashboard</a></li>
            <!--
            <li class="dropdown"><a href="#"><span>Deep Drop Down</span> <i class="bi bi-chevron-right"></i></a>
                <ul>
                    <li><a href="#">Deep Drop Down 1</a></li>
                    <li><a href="#">Deep Drop Down 2</a></li>
                    <li><a href="#">Deep Drop Down 3</a></li>
                    <li><a href="#">Deep Drop Down 4</a></li>
                    <li><a href="#">Deep Drop Down 5</a></li>
                </ul>
            </li>
            -->
            <li><a href="{{ path('app_admin_booking_calendar') }}">Planning</a></li>
            <li><a href="{{ path('app_admin_booking_index') }}">Interventions</a></li>
            <li class="dropdown"><a href="#"><span>Clients</span> <i class="bi bi-chevron-right"></i></a>
                <ul>
                    <li><a href="{{ path('app_admin_users_index') }}">Mes clients</a></li>
                    <li><a href="{{ path('app_admin_users_new') }}">Nouveau</a></li>
                </ul>
            </li>
            <li><a href="{{ path('app_logout') }}">Déconnection</a></li>
            {% endif %}
        </ul>
    </li>
    {% else %}
    <li><a href="{{ path('app_login') }}" class=""><i class="fa-solid fa-power-off" style="font-size: 20px;"></i></a></li>   
{% endif %}