{% extends 'base.html.twig' %}

{% block title %}Users index{% endblock %}

{% block body %}
    <h1>Users index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Roles</th>
                <th>Password</th>
                <th>IsVerified</th>
                <th>Avatar</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Adresse</th>
                <th>CodePostal</th>
                <th>Ville</th>
                <th>Pays</th>
                <th>Societe</th>
                <th>Telephone</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                <td>{{ user.password }}</td>
                <td>{{ user.isVerified ? 'Yes' : 'No' }}</td>
                <td>{{ user.avatar }}</td>
                <td>{{ user.nom }}</td>
                <td>{{ user.prenom }}</td>
                <td>{{ user.adresse }}</td>
                <td>{{ user.codePostal }}</td>
                <td>{{ user.ville }}</td>
                <td>{{ user.pays }}</td>
                <td>{{ user.societe }}</td>
                <td>{{ user.telephone }}</td>
                <td>
                    <a href="{{ path('app_profil_show', {'id': user.id}) }}">show</a>
                    <a href="{{ path('app_profil_edit', {'id': user.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="15">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_profil_new') }}">Create new</a>
{% endblock %}
