<div {{ attributes }}>
{{ form_start(form) }}
    {{ form_row(form.categories) }}
    <button class="btn col-12">{{ button_label|default('Enregistrer l\'article') }}</button>
{{ form_end(form) }}
</div>