<div {{ attributes }}>
{{ form_start(form) }}
    {{ form_row(form.client) }}
    {{ form_row(form.title) }}
    {{ form_row(form.content) }}
    <button class="btn col-12">Enregistrer la facture</button>
{{ form_end(form) }}
</div>