<div class="row">
    <div class="col-lg-3">
        <form action="" class="input-icon my-3 my-lg-0">
            <div class="gs-container">
                <input type="text" class="form-control header-search">
            </div>
            <div class="input-icon-addon">
                <i class="fa-solid fa-magnifying-glass"></i>
            </div>
        </form>
    </div>
    <div class="col-lg text-end">
        <a href="{{ path('app_admin_users_new') }}" class="btn btn-success">Ajouter un nouveau client</a>
    </div>
</div>
<div class="table-responsive mt-2">
    <table class="table card-table table-vcenter table-hover">
        <thead class="thead-dark form-group-sm">
            <tr>
                <th>Date d'intervention</th>
                <th>Début</th>
                <th>Fin</th>
                <th>Type d'intervention</th>
                <th class="text-end"><select name="search_limit" class="search_limit" style="width: 60px;"><option value="5">5</option><option value="15" selected="selected">15</option><option value="25">25</option><option value="50">50</option><option value="100">100</option><option value="999999999">all</option></select></th>
            </tr>
        </thead>
        <tbody>
            {% for booking in this.allBooking.data %}
                <tr>
                    <td>{{ booking.beginAt ? booking.beginAt|date('d-m-Y') : '' }}</td>
                    <td>{{ booking.beginAt ? booking.beginAt|date('H:i') : '' }}</td>
                    <td>{{ booking.endAt ? booking.endAt|date('H:i') : '' }}</td>
                    <td>{{ booking.title }}</td>
                    <td class="text-end">
                        <div class="btn-group">
                            <a href="{{ path('app_admin_users_edit', {'id': booking.id}) }}" class="btn btn-secondary"><i class="fas fa-pen"></i></a>
                            <a class="btn btn-danger" href="{{ path('app_admin_users_delete', {'id': booking.id}) }}"><i class="fa-solid fa-trash-can"></i></i></a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <div style="padding-right: 10px;">
        {{ component('pagination', {
            'pages': this.allBooking.pages,
            'currentPage': this.allBooking.page,
            'limit': this.allBooking.limit,
            'path': 'app_admin_users_index',
            'position': 'justify-content-end'
        }) }}
    </div>
</div>

<script>
    $(document).ready( function () {

        $(".btn-danger").click(function (event) {
            event.preventDefault();

            url = $(this).attr('href');

            console.log(url);

            Swal.fire({
                text: "Voulez vous vraiment supprimer ce client ?",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'supprimer'
            }).then((result) => {
                if(result.isConfirmed) {
                    document.location.href = url;
                }
            })
        });

    });
</script>
