<div class="table-responsive mt-2">
    <table class="table card-table table-vcenter table-hover">
        <thead class="thead-dark form-group-sm">
            <tr>
                <th>Facture N°</th>
                <th>Montant</th>
                <th>Date</th>
                <th class="text-end">
                    <!--
                    <select name="search_limit" class="search_limit" style="width: 60px;"><option value="5">5</option><option value="15" selected="selected">15</option><option value="25">25</option><option value="50">50</option><option value="100">100</option><option value="999999999">all</option></select>
                    -->
                </th>
            </tr>
        </thead>
        <tbody>
            {% if this.allPaiements %}
                {% for paiement in this.allPaiements.data %}
                    <tr>
                        <td>{{ paiement.numero }}</td>
                        <td>{{ paiement.montant }} €</td>
                        <td>{{ paiement.createdAt ? paiement.createdAt|date('d-m-Y') : '' }}</td>
                        <td class="text-end">
                            <div class="btn-group">
                                <a class="btn btn-secondary" target="_blank" href="{{ paiement.url }}"><i class="fas fa-eye"></i></a>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                <td colspan="4" class="text-center">Aucune donnée dans le tableau</td>
            {% endif %}
        </tbody>
    </table>
    {% if this.allPaiements %}
        <div style="padding-right: 10px;">
            {{ component('pagination', {
                'pages': this.allPaiements.pages,
                'currentPage': this.allPaiements.page,
                'limit': this.allPaiements.limit,
                'path': 'app_paiement_index',
                'position': 'justify-content-end'
            }) }}
        </div>
    {% endif %}
    
    
</div>