
<div {{ attributes }}>
    {{ form_start(form) }}
        {{ form_row(form.email) }}
        {{ form_row(form.password) }}
        {{ form_row(form.agreeTerms) }}
        <button>Save</button>
    {{ form_end(form) }}
</div>