<div class="row">
    <!--
    <div class="col-lg-3">
        <form action="" class="input-icon my-3 my-lg-0">
            <div class="gs-container">
                <input type="text" class="form-control header-search">
            </div>
            <div class="input-icon-addon">
                <i class="fa-solid fa-magnifying-glass"></i>
            </div>
        </form>
    </div>
    -->
    <div class="col-lg text-end">
        <a href="{{ path('app_admin_tickets_new') }}" class="btn btn-success">Créer un nouveau ticket</a>
    </div>
</div>
<div class="table-responsive mt-2">
    <table class="table card-table table-vcenter table-hover">
        <thead class="thead-dark form-group-sm">
            <tr>
                <th>Statut</th>
                <th>Titre</th>
                <th>Créé le</th>
                <th class="text-end">
                    <!--
                    <select name="search_limit" class="search_limit" style="width: 60px;"><option value="5">5</option><option value="15" selected="selected">15</option><option value="25">25</option><option value="50">50</option><option value="100">100</option><option value="999999999">all</option></select>
                    -->
                </th>
            </tr>
        </thead>
        <tbody>
            {% if this.allTickets %}
                {% for ticket in this.allTickets.data %}
                    <tr>
                        <td>
                            {% if ticket.statut == 'en_attente' %}
                                <div class="badge bg-danger" style="min-width:125px">Non pris en charge</div>
                            {% endif %}
                            {% if ticket.statut == 'ouverture' %}
                                <div class="badge bg-info" style="min-width:125px; color: #000">Pris en charge</div>
                            {% endif %}
                            {% if ticket.statut == 'cloture' %}
                                <div class="badge bg-success" style="min-width:125px">Cloturé</div>
                            {% endif %}
                            
                            
                            
                            
                        </td>
                        <td>{{ ticket.titre }}</td>
                        <td>{{ ticket.createdAt|date('d-m-Y') }}</td>
                        <td class="text-end">
                            <div class="btn-group">
                                <a class="btn btn-secondary" href="{{ path('app_admin_tickets_show', {'id': ticket.id}) }}" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Voir cette facture" data-bs-custom-class="custom-tooltip"><i class="fas fa-eye"></i></a>
                                <a class="btn btn-secondary" href="{{ path('app_admin_tickets_edit', {'id': ticket.id}) }}" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Payer cette facture" data-bs-custom-class="custom-tooltip"><i class="fas fa-pen"></i></a>
                                <a class="btn btn-danger" href="{{ path('app_admin_tickets_delete', {'id': ticket.id}) }}" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Payer cette facture" data-bs-custom-class="custom-tooltip"><i class="fa-solid fa-trash-can"></i></a>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                <td colspan="4" class="text-center">Aucune donnée dans le tableau</td>
            {% endif %}
        </tbody>
    </table>
    {% if this.allTickets %}
        <div style="padding-right: 10px;">
            {{ component('pagination', {
                'pages': this.allTickets.pages,
                'currentPage': this.allTickets.page,
                'limit': this.allTickets.limit,
                'path': 'app_admin_tickets_index',
                'position': 'justify-content-end'
            }) }}
        </div>
    {% endif %}
</div>

<script>
    $(document).ready( function () {

        $(".btn-danger").click(function (event) {
            event.preventDefault();

            url = $(this).attr('href');

            console.log(url);

            Swal.fire({
                text: "Voulez vous vraiment supprimer ce ticket ?",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'supprimer'
            }).then((result) => {
                if(result.isConfirmed) {
                    document.location.href = url;
                }
            })
        });

    });
</script>
